body {
  padding-top: 50px;
}

a .nolink {
  color:#000000;
}

.nolink:hover {
  color:#000000;
  text-decoration:none !important;
}

.author {
  font-style: italic;
  color:#999999;
}

.author:hover {
  font-style: italic;
  color:#999999;
}

